**/__pycache__/*
**/*.pyc
**/.ipynb_checkpoints/*
**/.DS_Store
**/.vscode/*
**/.idea/*
**/.pytest_cache/*
**/.coverage
**/.coverage.*
**/.cache
**/.mypy_cache/*
**/.mypy_cache
**/.mypy_cache/*

# Build
**/build/*
**/dist/*
**/dist
